<%-include('../layouts/admin/adminSidebar')%>

<div class="clearfix"></div>
  <div class="content-wrapper">
    <div class="container-fluid">  
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Coupen  Data</h5>
              <div class="table-responsive mt-4">
                
               <a href="/admin/add-coupen" class="btn btn-primary ">Add New Coupen</a>
                <table class="table mt-5">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Coupen Code</th>
                      <th scope="col">Discount</th>
                       <th scope="col">Count</th>
                      
                      <th scope="col">Expire Days</th>
                      <th scope="col">Description</th>
                      
                      <th scope="col">Status</th>  
                      <th scope="col" style="text-align: center;">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(coupens.length > 0) {
                      
                      for(let i=0; i<coupens.length; i++) {
                    %>
                    <tr>
                      <th scope="row"><%= i+1 %></th>
                      <td><%= coupens[i].coupenCode %></td>
                      <td><%= coupens[i].discount%></td>
                      
                      <td><%= coupens[i].usageCount %></td>
                      <td><%= coupens[i].validFor %></td>
                      <td><%= coupens[i].description %></td>
                     
                      
                     
                    
                     

                      <!-- list|| Unlist -->
                      <td><% if(coupens[i].activeCoupen===true) { %>
                        <p style="color: green; font-weight: bold;">Active</p>
                    <% } else { %>
                        <p style="color: red; font-weight: bold;">Not Active</p>
                    <% } %>
                </td>





                <td><% if(coupens[i].activeCoupen === false) { %>
                  <a href="/admin/activeCoupen?cid=<%=coupens[i]._id%>" class="btn btn-danger">Active</a>
              <% } else { %>
                <a href="/admin/notActiveCoupen?cid=<%=coupens[i]._id%>" class="btn btn-primary">Not Active</a>
              <% } %>

              <a href="/admin/" class="btn btn-info">Edit</a>
          </td>

          
          
                
                        
                        
                        
                      </td>
                    </tr>
                          <% }
                              } else { %>
                          <tr>
                              <td colspan="6" class="text-center">Coupens Not Found</td>
                          </tr>
                          <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!--End Row-->

      <a href="/admin/home" class="btn btn-primary d-block mx-auto" style="width: 10%; font-size: 14px;">Go Back</a>
	  
	  <!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->

    </div>
    <!-- End container-fluid-->
    
    </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->


    <style>
      .content-wrapper{
   margin-left: 129px;
   padding-top: 50px;
   padding-left: 7px;
   padding-right: 10px;
   padding-bottom: 70px;
   overflow-x: hidden;

 }
   </style>
 
   <%- include('../layouts/admin/adminFooter') %>

	