<%- include('../layouts/header')%>

   <!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->         




            <!-- Address Card Template -->
            <div class="container mt-5">
                <% if ( addressData  && Array.isArray(addressData) && addressData.length > 0) { %>
                <div class="row">
                
                    <% for (let i = 0; i < addressData.length; i++) { %>
                    <div class="col-md-4">
                        <div class="address-card">
                            <h4>Shipping Address</h4>
                            <% if(addressData[i].address[0].isDefault){ %>
                                <span class="default-badge">Default</span>
                    <% } %>
                            <p>Name: <%= addressData[i].address[0].name %></p>
                            <p>Mobile: <%= addressData[i].address[0].mobile %> </p>
                            <p>Home Address: <%= addressData[i].address[0].homeAddress %></p>
                            <p>Place: <%= addressData[i].address[0].place %></p>
                            <p>Pin Code: <%= addressData[i].address[0].pincode %> %></p>
                            <div class="edit-button">
                                <a class="edit-link" href="/editAddress?id=<%= addressData[i]._id.toString() %>">Edit</a>
                                
                            </div>
                            <div class="edit-button">
                                <a class="edit-link" href="/deleteAddress?id=<%= addressData[i]._id.toString() %>">Delete</a>
                                <% if(addressData[i].address[0].isDefault== false){ %>
                            </div class="set-default-button">
                            <a href="/setasDefault?id=<%= addressData[i]._id.toString() %>"class="btn btn-primary">Set as Default</a>
                            <div>
                                <% } %>  
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
                <% } else { %>
                <h2>No addresses added</h2>
                <% } %>
                <!-- You can add more address cards here with different data -->
            </div>

            <!-- Add Address Button -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/addAddress" class="btn btn-success add-address-button">Add Address</a>
                    </div>
                </div>
            </div>

            <!-- Bootstrap JavaScript (you may need to add this if not already included in your project) -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        

            <%- include('../layouts/footer')%>