<%- include('../layouts/header')%>

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    
                    <h1>Orders</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->



<% if (orders && orders.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Order ID</th>
                <th>Total</th>
                <th>Payment Method</th>
                <th>Status</th>
                <th>Action</th> <!-- Add a new column for the action button -->
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(order => { %>
                <tr>
                    <td><%= order.date %></td>
                    <td><%= order.orderId %></td>
                    <td>$<%= order.total %></td>
                    <td><%= order.paymentMethod %></td>
                    <td>
                        <% if (order.status === 'Delivered') { %>
                            <i class="fas fa-check-circle"></i> <%= order.status %>
                        <% } else { %>
                            <i class="fas fa-times-circle"></i> <%= order.status %>
                        <% } %>
                    </td>
                    <td>
                        <form action="/view-order" method="GET">
                            <input type="hidden" name="orderId" value="<%= order.orderId %>">
                            <button type="submit">View</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p class="no-orders">No orders found.</p>
<% } %>
<%- include('../layouts/footer')%>