<%- include('../layouts/header') %>

	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Sweet And Delecious</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->



   
	<!-- products -->

	<%if(category.length>0){ %>
		
        
		
			
	<div class="product-section mt-150 mb-150">
		<div class="container">
           
			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
						
                        <ul>
							<li class="active" data-filter="*">All</li>
							<% for(i=0;i<category.length;i++){ %>
                            <li class="active"  data-category-id="<%= category[i]._id %>" data-filter="<%= category[i]._id %>"><%= category[i].Name %></li>
							<% console.log('data-filter',category[i]._id) %>
							<% } %>
                           
                        </ul>
                    </div>
                </div>
            </div>
               <%if(product.length>0){%>
				
				<div class="row product-lists">
                <% for(i=0;i<product.length;i++){%>
					
					<div class="col-lg-4 col-md-6 text-center <%= product[i].category %>">
						<div class="single-product-item">
							<div class="product-image">
								<a href="/singleProduct?pid=<%= product[i]._id %>">
									<img src="/frutika-master/uploads/<%= product[i].image[0] %>" alt="" style="width: 200px; height: 200px;">
								</a>
							</div>
							<h3><%= product[i].name %></h3>
							<p class="product-price"><span>Per Kg</span><%= product[i].price %> </p>
							
								<button class="wishlist-btn" onclick="addToWishlist('<%= product[i]._id %>')" 
									onmouseover="this.querySelector('i').style.color = 'red'"
									onmouseout="this.querySelector('i').style.color = '#999'"
									style="background-color: transparent; border: none; cursor: pointer; font-size: 1.5em; color: #999; transition: color 0.3s ease; margin-right: 10px;">
									<i id="wishlistIcon" class="far fa-heart" style="transition: color 0.3s ease;"></i>
								</button>
							
							
						</div>
						
				</div>
				<%}%>
				
				
				
			

			<div class="row">
				<%}%>
				
			</div>
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a class="active" href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	
	<% } %>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script>
		document.querySelectorAll('li[data-filter]').forEach(category => {
    category.addEventListener('click', function() {
        var categoryId = this.getAttribute('data-category-id');
        console.log("categoryId:", categoryId);

        

        fetch(`/productsByCategory?categoryId=${categoryId}`, {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log("data.filteredProducts:",data.filteredProducts); 
			const productsGrid = document.querySelector('.product-lists');
			productsGrid.innerHTML = '';
			console.log("productsGrid:",productsGrid);
			data.filteredProducts.forEach(product => {

var productDiv = document.createElement('div');

productDiv.classList.add('col-lg-4', 'col-md-6', 'text-center', product.category);


          productDiv.innerHTML = `

            <div class="single-product-item mb-4">

              <div class="product-image">

                <a href="/singleProduct?pid=${product._id}"><img src="/frutika-master/uploads/${product.image[0]}" alt="" style="width: 200px; height: 200px;"></a>

              </div>

              <h3>${product.name}</h3>

              <p class="product-price"><span>Per Kg</span>${product.price} </p>

              <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>

            </div>

          `;


          // Append the product div to the products-grid element

          productsGrid.appendChild(productDiv);

        });

      })
    
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    });
});


//wish list script.......................................................//

async function addToWishlist(productId) {
    try {
        const response = await fetch('/addtoWishList', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId: productId })
        });

        if (response.ok) {
            const responseData = await response.json();
            if (responseData.message === 'Product added to the wishlist successfully') {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Product added to the wishlist successfully'
                });
            } else if (responseData.message === 'Already Exist') {

				
                Swal.fire({
                    icon: 'info',
                    title: 'Product Exists',
                    text: 'This product already exists in your wishlist'
                });
            }
        } else {
            // Handle other response statuses if needed
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Failed to add product to the wishlist'
            });
        }
    } catch (error) {
        console.error('Error adding product to wishlist:', error);
        // Handle an error if an exception occurs
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'An error occurred while processing your request'
        });
    }
}




	</script>

	
	
	

	<%- include('../layouts/footer')%>