<%- include('../layouts/header')%>


    
    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						
						<h1>Profile</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
   
    <div class="container pt-150 pb-150">
        <div class="card profile-container">
            <div class="card-body">
                <h1 class="profile-heading">Welcome, <%= user.name %></h1>

                <table class="table table-bordered profile-table">
                    <tr>
                        <th>Name</th>
                        <td><%= user.name %></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><%= user.email %></td>
                    </tr>
                    <tr>
                        <th>Mobile Number</th>
                        <td><%= user.mobile %></td>
                    </tr>
                </table>

                <div class="profile-buttons">
                    <a href="/edit?id=<%= user._id %>" class="btn btn-primary">Edit Profile</a>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                    <!-- Add Address Management button here -->
                    <a href="/addressManagement" class="btn btn-info">Address Management</a>
                    <a href="/orders" class="btn btn-info">Orders</a>
                    <a href="/wallet" class="btn btn-info">Wallet</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer')%>
